# Archives and Compressed Big Files
*.zip 

# Temp Junk
temp/

# Installer

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.cache
coverage.xml
*.cover
.hypothesis
cover/

# mkdocs documentation
/site
/StealthDuelFramework/StealthDuelFramework/FileName.cpp
